extends layout

block content
  h1= title
  p Welcome to #{title}
  #panel
    input#address(type="textbox")
    input(type="button", value="Geocode", onclick="calculate()")
    h3#distance 0.0 km
    #map-canvas